.-div-text h1, #tradition .-div-decoration .-est {
  font-family: "Yeseva One", cursive;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}

#future .-div-decorations .-yellow-bar div p:last-child, #video .-div-video-card div, #newsletter form label, #newsletter form button {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

#landing .-decoration .-learn, #future .-div-decorations .-yellow-bar div p:nth-child(2), #sourcing .row .-card p:first-child, #newsletter .-div-newsletter p:first-child, footer .-div-footer div p.-t {
  font-family: "Mulish", sans-serif;
  font-weight: 900;
}

#landing .-navbar .-brand, footer .-div-footer div .-brand {
  font-family: "Righteous", cursive;
}

#landing .-decoration .-orange-square, #tradition .-div-decoration .-square-orange, #future .-div-decorations .-square-orange, #video .-div-decorations .-square-orange, #newsletter .-div-newsletter .-purple-bar .-square-orange {
  display: inline-block;
  width: 20vw;
  height: 20vw;
}

@media (min-width: 992px) {
  #landing .-decoration .-orange-square, #tradition .-div-decoration .-square-orange, #future .-div-decorations .-square-orange, #video .-div-decorations .-square-orange, #newsletter .-div-newsletter .-purple-bar .-square-orange {
    width: 10vw;
    height: 10vw;
  }
}

#landing .-decoration .-yellow-pillar, #landing .-decoration .-orange-bar, #tradition .-div-decoration .-yellow-pillar, #tradition .-div-decoration .-orange-pillar, #future .-div-decorations .-yellow-pillar, #sourcing .-div-decorations .-yellow-pillar {
  display: inline-block;
  width: 20vw;
}

@media (min-width: 992px) {
  #landing .-decoration .-yellow-pillar, #landing .-decoration .-orange-bar, #tradition .-div-decoration .-yellow-pillar, #tradition .-div-decoration .-orange-pillar, #future .-div-decorations .-yellow-pillar, #sourcing .-div-decorations .-yellow-pillar {
    width: 10vw;
  }
}

.-link {
  text-decoration: none;
  color: inherit;
}

.-link:hover {
  text-decoration: none;
  color: #f8efba;
}

body {
  overflow-x: hidden;
}

body.-no-scroll {
  position: fixed;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}

.-div-text {
  margin-left: 15%;
}

@media (max-width: 992px) {
  .-div-text {
    margin-left: 5%;
  }
}

.-div-text h1 {
  font-size: 7vw;
  position: relative;
}

@media (max-width: 992px) {
  .-div-text h1 {
    font-size: 10vw;
  }
}

.-div-text h1:after {
  content: "";
  bottom: -4%;
  left: 0;
  position: absolute;
  width: 10%;
  height: 8px;
}

@media (max-width: 992px) {
  .-div-text h1:after {
    height: 4px;
    bottom: -15%;
  }
}

.-div-text h1.-p:after {
  background-color: #6d214f;
}

.-div-text h1.-w:after {
  background-color: #f2f3f7;
}

.-div-text p {
  font-size: 1.3rem;
  width: 60%;
  margin-top: 4rem;
}

@media (max-width: 992px) {
  .-div-text p {
    font-size: 1.1rem;
  }
}

@use 'base';
#landing {
  background-color: #6d214f;
  color: #f2f3f7;
  position: relative;
  height: 100vh;
  min-height: 800px;
}

#landing .-navbar {
  height: 8rem;
  width: 100%;
  padding: 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  #landing .-navbar {
    padding: 0 2rem;
    height: 6rem;
  }
}

#landing .-navbar .-brand {
  font-size: 3rem;
}

#landing .-navbar .-brand:hover {
  color: #f2f3f7;
}

#landing .-navbar ul {
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: middle;
}

#landing .-navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 3rem;
}

@media (max-width: 992px) {
  #landing .-navbar ul {
    display: none;
  }
  #landing .-navbar ul.-active {
    display: inline;
    position: absolute;
    margin-top: 6rem;
    width: 100%;
    height: calc(100% - 6rem);
    background-color: #6d214f;
    left: 0;
    z-index: 100;
    padding: 0;
    -webkit-animation: slide-in 0.4s ease forwards;
            animation: slide-in 0.4s ease forwards;
  }
  #landing .-navbar ul.-active li {
    display: block;
    width: 100%;
    margin: 2rem 0;
    text-align: center;
  }
}

#landing .-navbar .-nav-right {
  display: inline-block;
  font-size: 1.5rem;
}

#landing .-navbar .-nav-right i {
  margin-left: 3rem;
}

@media (min-width: 992px) {
  #landing .-navbar .-nav-right .-menu {
    display: none;
  }
}

#landing .-navbar .-brand {
  position: relative;
  background-color: #6d214f;
  -webkit-transition: color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#landing .-navbar .-brand:hover::after {
  width: 0%;
}

#landing .-navbar .-brand:hover::before {
  width: 0%;
}

#landing .-navbar .-brand::after {
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  content: "";
  position: absolute;
  top: -30%;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: #6d214f;
}

#landing .-navbar .-brand::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  bottom: -30%;
  right: 0;
  width: 100%;
  height: 40%;
  background-color: #6d214f;
  z-index: 10;
}

#landing .-navbar .-brand .-link-decoration {
  position: absolute;
  width: 88%;
  height: 30%;
  left: 3%;
}

#landing .-navbar .-brand .-link-decoration-1 {
  top: -25%;
  border-top: 0.4rem solid #f8efba;
  border-left: 0.4rem solid #f8efba;
  border-right: 0.4rem solid #f8efba;
}

#landing .-navbar .-brand .-link-decoration-2 {
  bottom: -25%;
  border-bottom: 0.4rem solid #fea47f;
  border-left: 0.4rem solid #fea47f;
  border-right: 0.4rem solid #fea47f;
}

#landing .-landing-text {
  margin-top: 6rem;
  z-index: 20;
}

@media (max-width: 992px) {
  #landing .-landing-text {
    margin-top: 3rem;
  }
}

#landing .-decoration .-yellow-bar {
  color: #6d214f;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 12rem;
  width: 80%;
  background-color: #f8efba;
}

@media (max-width: 992px) {
  #landing .-decoration .-yellow-bar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#landing .-decoration .-yellow-bar div {
  height: 100%;
  display: inline-block;
  text-align: center;
  margin: 0 3rem;
  font-size: 1.5rem;
  padding-top: 2rem;
}

@media (max-width: 992px) {
  #landing .-decoration .-yellow-bar div {
    font-size: 1rem;
    margin: 0;
  }
}

#landing .-decoration .-yellow-bar div i {
  font-size: 3rem;
  margin: 0 1rem;
}

@media (max-width: 992px) {
  #landing .-decoration .-yellow-bar div i {
    font-size: 2rem;
  }
}

#landing .-decoration .-yellow-bar div a {
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: inline-block;
}

#landing .-decoration .-yellow-bar div a:hover {
  color: #fea47f;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#landing .-decoration .-orange-square {
  background-color: #fea47f;
  position: absolute;
  bottom: 12rem;
  right: 0;
}

#landing .-decoration .-yellow-pillar {
  background-color: #f8efba;
  position: absolute;
  bottom: calc(12rem + 10vw);
  right: 10vw;
  height: 40%;
}

@media (max-width: 992px) {
  #landing .-decoration .-yellow-pillar {
    display: none;
  }
}

#landing .-decoration .-orange-bar {
  background-color: #fea47f;
  position: absolute;
  top: 93%;
  right: 80%;
  height: 40rem;
}

#landing .-decoration .-dots-yellow {
  position: absolute;
  width: 14vw;
  bottom: calc(12rem + 10vw - 9rem);
  right: calc(10vw - 8rem);
}

@media (max-width: 992px) {
  #landing .-decoration .-dots-yellow {
    width: 30vw;
    bottom: calc(12rem + 10vw);
    right: calc(10vw);
  }
}

#landing .-decoration .-dots-yellow span {
  background-color: #f8efba;
}

#landing .-decoration .-dots-orange {
  position: absolute;
  opacity: 0.2;
  width: 40vw;
  top: 9rem;
  left: 5rem;
  z-index: 0;
}

#landing .-decoration .-dots-orange span {
  background-color: #fea47f;
}

#landing .-decoration .-learn {
  position: absolute;
  width: 10vw;
  text-align: center;
  bottom: 5vw;
  right: 80%;
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  #landing .-decoration .-learn {
    bottom: 14rem;
    left: 5%;
    text-align: left;
    font-size: 1rem;
  }
}

#landing .-decoration .-learn a i {
  -webkit-animation: arrow-animation 5s infinite ease-in-out;
          animation: arrow-animation 5s infinite ease-in-out;
}

#landing .-decoration .-socials {
  position: absolute;
  left: 3%;
  bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
}

@media (max-width: 992px) {
  #landing .-decoration .-socials {
    display: none;
  }
}

#landing .-decoration .-socials::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 30%;
  height: 200%;
  width: 5px;
  background-color: #f2f3f7;
}

#landing .-decoration .-socials a {
  margin: 2rem 0;
}

#tradition {
  color: #6d214f;
  position: relative;
  background-color: #f2f3f7;
}

#tradition .-div-tradition .-div-text {
  padding: 17rem 0;
}

@media (max-width: 992px) {
  #tradition .-div-tradition .-div-text {
    padding: 10rem 0;
  }
}

#tradition .-div-decoration .-est {
  position: absolute;
  right: 10%;
  top: -9vw;
  line-height: 8vw;
}

@media (max-width: 992px) {
  #tradition .-div-decoration .-est {
    line-height: 12vw;
  }
}

#tradition .-div-decoration .-est span:first-child {
  font-size: 3vw;
  vertical-align: bottom;
  margin-left: 1rem;
}

@media (max-width: 992px) {
  #tradition .-div-decoration .-est span:first-child {
    font-size: 4vw;
  }
}

#tradition .-div-decoration .-est span:last-child {
  font-size: 14vw;
  vertical-align: top;
}

@media (max-width: 992px) {
  #tradition .-div-decoration .-est span:last-child {
    font-size: 24vw;
  }
}

#tradition .-div-decoration .-dots-orange {
  position: absolute;
  right: 12%;
  top: 2vw;
  width: 20vw;
}

@media (max-width: 992px) {
  #tradition .-div-decoration .-dots-orange {
    right: 17%;
    top: 10vw;
    width: 30vw;
  }
}

#tradition .-div-decoration .-dots-orange span {
  background-color: #fea47f;
}

#tradition .-div-decoration .-square-orange {
  background-color: #fea47f;
  position: absolute;
  bottom: 10vw;
  right: 0;
}

#tradition .-div-decoration .-yellow-pillar {
  background-color: #f8efba;
  position: absolute;
  top: calc(100% - 10vw);
  right: 10vw;
  height: 30rem;
}

#tradition .-div-decoration .-orange-pillar {
  background-color: #fea47f;
  position: absolute;
  top: -3.33333vw;
  right: 80%;
  height: 30vw;
}

@media (max-width: 992px) {
  #tradition .-div-decoration .-orange-pillar {
    top: 0;
    height: 47vw;
    left: 3vw;
  }
}

#future {
  background-color: #6d214f;
  color: #f2f3f7;
  position: relative;
}

#future img {
  width: 100%;
  position: absolute;
}

@media (max-width: 992px) {
  #future img {
    top: 20vw;
  }
}

#future .-div-text {
  padding-top: 55%;
  padding-bottom: 30rem;
}

@media (max-width: 992px) {
  #future .-div-text {
    padding-top: calc(60% + 20vw);
  }
}

#future .-div-decorations .-yellow-pillar {
  position: absolute;
  top: -10vw;
  right: 10vw;
  height: 35vw;
  background-color: #f8efba;
}

@media (max-width: 992px) {
  #future .-div-decorations .-yellow-pillar {
    right: 20vw;
    height: 43vw;
  }
}

#future .-div-decorations .-dots-orange {
  position: absolute;
  width: 40%;
  right: 0;
  top: 3rem;
  opacity: 0.3;
}

#future .-div-decorations .-dots-orange span {
  background-color: #fea47f;
}

#future .-div-decorations .-square-orange {
  position: absolute;
  bottom: 12rem;
  right: 0;
  background-color: #fea47f;
}

#future .-div-decorations .-yellow-bar {
  position: absolute;
  height: 12rem;
  bottom: 0;
  left: 0;
  width: calc(100% - 10vw);
  background-color: #f8efba;
  color: #6d214f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 10vw;
}

@media (max-width: 992px) {
  #future .-div-decorations .-yellow-bar {
    padding: 0 2vw;
    width: 100%;
  }
}

#future .-div-decorations .-yellow-bar div {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 1.4rem;
}

@media (max-width: 992px) {
  #future .-div-decorations .-yellow-bar div {
    font-size: 1rem;
  }
}

#future .-div-decorations .-yellow-bar div p {
  margin-bottom: 0;
}

#future .-div-decorations .-yellow-bar div i {
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  #future .-div-decorations .-yellow-bar div i {
    font-size: 2.5rem;
  }
}

#future .-div-decorations .-dots-yellow {
  position: absolute;
  bottom: 17rem;
  right: 0;
  width: 25%;
}

@media (max-width: 992px) {
  #future .-div-decorations .-dots-yellow {
    width: 50%;
    bottom: 15rem;
  }
}

#future .-div-decorations .-dots-yellow span {
  background-color: #f8efba;
}

#video {
  background-color: #6d214f;
  color: #6d214f;
  position: relative;
}

#video .-div-video {
  padding: 17rem 0;
}

@media (max-width: 992px) {
  #video .-div-video {
    padding: 5rem 0 15rem 0;
  }
}

#video .-div-video-card {
  width: 30%;
  background-color: #f2f3f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

@media (max-width: 992px) {
  #video .-div-video-card {
    width: 50%;
  }
}

#video .-div-video-card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#video .-div-video-card img {
  width: 65%;
  margin: 0.4rem;
}

#video .-div-video-card div {
  text-align: center;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#video .-div-decorations .-dots-orange {
  position: absolute;
  right: 15rem;
  bottom: 10rem;
  width: 40%;
}

@media (max-width: 992px) {
  #video .-div-decorations .-dots-orange {
    right: 1rem;
    width: 50%;
  }
}

#video .-div-decorations .-dots-orange span {
  background-color: #fea47f;
}

#video .-div-decorations .-square-orange {
  position: absolute;
  background-color: #fea47f;
  left: 0;
  bottom: 10vw;
}

#sourcing {
  background-color: #f2f3f7;
  color: #6d214f;
  position: relative;
  padding-bottom: 17rem;
}

@media (max-width: 992px) {
  #sourcing {
    padding-bottom: 4rem;
  }
  #sourcing #sourcing-text {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

#sourcing .-div-decorations .-yellow-pillar {
  position: absolute;
  top: -10vw;
  left: 10vw;
  height: 39vw;
  background-color: #f8efba;
}

@media (max-width: 992px) {
  #sourcing .-div-decorations .-yellow-pillar {
    left: 20vw;
    height: 55vw;
  }
}

#sourcing .-div-text {
  padding: 17rem 0;
}

#sourcing .row .col-12 {
  margin-bottom: 4rem;
  position: relative;
}

#sourcing .row .col-12 .-dots-purple {
  position: absolute;
  top: -7rem;
  right: 0;
  width: 50%;
}

@media (max-width: 992px) {
  #sourcing .row .col-12 .-dots-purple {
    top: -3rem;
  }
}

#sourcing .row .col-12 .-dots-purple span {
  background-color: #6d214f;
}

#sourcing .row .-card {
  background-color: #f8efba;
  margin: 0 3vw;
  height: 100%;
  padding: 7rem 0;
}

@media (max-width: 992px) {
  #sourcing .row .-card {
    margin: 0 10vw;
  }
}

#sourcing .row .-card p {
  width: 60%;
  margin: auto;
  text-align: center;
}

#sourcing .row .-card p:first-child {
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

@media (max-width: 992px) {
  #sourcing .row .-card p:first-child {
    font-size: 1.2rem;
  }
}

#sourcing .row .-card p:last-child {
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  #sourcing .row .-card p:last-child {
    font-size: 1.1rem;
  }
}

#newsletter {
  position: relative;
  padding-bottom: 17rem;
  background-color: #f2f3f7;
}

#newsletter .-div-newsletter .-div-text {
  margin-right: 10vw;
  margin-left: 0;
  margin-bottom: 2rem;
}

#newsletter .-div-newsletter p {
  color: #6d214f;
  text-align: center;
  margin: auto;
}

#newsletter .-div-newsletter p:first-child {
  margin-bottom: 2rem;
}

#newsletter .-div-newsletter p:last-child {
  width: 30%;
}

@media (max-width: 992px) {
  #newsletter .-div-newsletter p:last-child {
    width: 70%;
  }
}

#newsletter .-div-newsletter .-purple-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12rem;
  color: #f2f3f7;
  background-color: #6d214f;
  width: calc(100% - 10vw);
  position: relative;
}

@media (max-width: 992px) {
  #newsletter .-div-newsletter .-purple-bar {
    height: auto;
  }
}

@media (max-width: 992px) {
  #newsletter .-div-newsletter .-purple-bar {
    width: 100%;
  }
}

#newsletter .-div-newsletter .-purple-bar .-square-orange {
  position: absolute;
  bottom: 100%;
  left: 100%;
  background-color: #fea47f;
}

@media (max-width: 992px) {
  #newsletter .-div-newsletter .-purple-bar .-square-orange {
    display: none;
  }
}

#newsletter .-div-newsletter .-purple-bar .-dots-orange {
  position: absolute;
  width: 30%;
  top: 75%;
  left: 80%;
}

@media (max-width: 992px) {
  #newsletter .-div-newsletter .-purple-bar .-dots-orange {
    width: 40%;
    left: 60%;
  }
}

#newsletter .-div-newsletter .-purple-bar .-dots-orange span {
  background-color: #fea47f;
}

#newsletter form {
  width: auto;
}

#newsletter form label {
  display: block;
  color: #f2f3f7;
}

@media (max-width: 992px) {
  #newsletter form label {
    padding-top: 1rem;
  }
}

#newsletter form input {
  width: 30rem;
  height: 3rem;
  outline: none;
  border: none;
  background-color: #f2f3f7;
}

@media (max-width: 992px) {
  #newsletter form input {
    width: 80vw;
    display: block;
  }
}

#newsletter form button {
  height: 3rem;
  width: 8rem;
  outline: none;
  border: none;
  margin-left: 2rem;
  background-color: #f8efba;
  color: #6d214f;
}

@media (max-width: 992px) {
  #newsletter form button {
    margin: 2rem auto;
    display: inline-block;
  }
}

footer {
  background-color: #6d214f;
  color: #f2f3f7;
}

footer .-div-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 10vw;
}

footer .-div-footer div {
  margin-bottom: 4rem;
  font-size: 1.3rem;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

@media (max-width: 992px) {
  footer .-div-footer div {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  footer .-div-footer div {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

footer .-div-footer div .-brand {
  font-size: 4rem;
}

@media (max-width: 992px) {
  footer .-div-footer div .-brand {
    font-size: 2rem;
  }
}

footer .-div-footer div a {
  margin-top: 1rem;
}

footer .-socials p {
  margin-bottom: 0rem;
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 992px) {
  footer .-socials p {
    font-size: 1.5rem;
  }
}

footer .-socials p a {
  display: inline-block;
  margin: 0 2rem;
}

footer .-personal p {
  margin-bottom: 0;
  margin-top: 5rem;
  padding-bottom: 3rem;
  text-align: center;
}

footer .-personal p i {
  color: #f8efba;
}

footer .-personal p i:hover {
  color: #fea47f;
}

@-webkit-keyframes arrow-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  7% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  20% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes arrow-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  7% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  20% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@use 'base';
.-dots span {
  width: 3%;
  padding-top: 3%;
  margin: 6%;
  display: inline-block;
  border-radius: 100%;
}
/*# sourceMappingURL=main.css.map */