.-div-text h1, #tradition .-div-decoration .-est {
  font-family: "Yeseva One", cursive;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 300;
}

#landing .-navbar .-brand {
  font-family: "Righteous", cursive;
}

#landing .-decoration .-orange-square {
  display: inline-block;
  width: 20vw;
  height: 20vw;
}

@media (min-width: 992px) {
  #landing .-decoration .-orange-square {
    width: 10vw;
    height: 10vw;
  }
}

#landing .-decoration .-yellow-pillar, #landing .-decoration .-orange-bar {
  display: inline-block;
  width: 20vw;
}

@media (min-width: 992px) {
  #landing .-decoration .-yellow-pillar, #landing .-decoration .-orange-bar {
    width: 10vw;
  }
}

.-link {
  text-decoration: none;
  color: inherit;
}

.-link:hover {
  text-decoration: none;
}

.-div-text h1 {
  font-size: 7vw;
  position: relative;
}

.-div-text h1:after {
  content: "";
  bottom: -4%;
  left: 0;
  position: absolute;
  width: 10%;
  height: 8px;
}

.-div-text h1.-p:after {
  background-color: #6d214f;
}

.-div-text h1.-w:after {
  background-color: #f2f3f7;
}

.-div-text p {
  font-size: 1.3rem;
  width: 60%;
  margin-top: 3.5rem;
}

@use 'base';
#landing {
  background-color: #6d214f;
  color: #f2f3f7;
  position: relative;
  height: 100vh;
  min-height: 800px;
}

#landing .-navbar {
  height: 8rem;
  width: 100%;
  padding: 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#landing .-navbar .-brand {
  font-size: 3rem;
}

#landing .-navbar ul {
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: middle;
}

#landing .-navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 3rem;
}

#landing .-navbar .-nav-right {
  display: inline-block;
  font-size: 1.5rem;
}

#landing .-navbar .-nav-right i {
  margin-left: 3rem;
}

#landing .-landing-text {
  margin-left: 15%;
  margin-top: 6rem;
}

#landing .-decoration .-yellow-bar {
  color: #6d214f;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10rem;
  width: 80%;
  background-color: #f8efba;
}

#landing .-decoration .-yellow-bar div {
  height: 100%;
  display: inline-block;
  text-align: center;
  margin: 0 3rem;
  font-size: 1.5rem;
  padding-top: 2rem;
}

#landing .-decoration .-yellow-bar div i {
  font-size: 3rem;
  margin: 0 1rem;
}

#landing .-decoration .-orange-square {
  background-color: #fea47f;
  position: absolute;
  bottom: 10rem;
  right: 0;
}

#landing .-decoration .-yellow-pillar {
  background-color: #f8efba;
  position: absolute;
  bottom: calc(10rem + 10vw);
  right: 10vw;
  height: 40%;
}

#landing .-decoration .-orange-bar {
  background-color: #fea47f;
  position: absolute;
  top: 93%;
  right: 80%;
  height: 40rem;
}

#tradition {
  color: #6d214f;
  position: relative;
}

#tradition .-div-tradition .-div-text {
  margin-left: 15%;
  padding-top: 17rem;
}

#tradition .-div-decoration .-est {
  position: absolute;
  right: 10%;
  top: -9vw;
  line-height: 8vw;
}

#tradition .-div-decoration .-est span:first-child {
  font-size: 3vw;
  vertical-align: bottom;
  margin-left: 1rem;
}

#tradition .-div-decoration .-est span:last-child {
  font-size: 14vw;
  vertical-align: top;
}

@use 'base';
/*# sourceMappingURL=main.css.map */