// Colors
$purple: #6d214f;
$yellow: #f8efba;
$orange: #fea47f;
$white: #f2f3f7;

// Fonts
%font-title {
  font-family: "Yeseva One", cursive;
}

%font-normal {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}

%font-normal-medium {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

%font-normal-bold {
  font-family: "Mulish", sans-serif;
  font-weight: 900;
}

%font-brand {
  font-family: "Righteous", cursive;
}

// Squares
$square-size: 10vw;
$square-size-mobile: 20vw;
$bar-height: 12rem;

%square {
  display: inline-block;
  width: $square-size-mobile;
  height: $square-size-mobile;
  @media (min-width: 992px) {
    width: $square-size;
    height: $square-size;
  }
}

%square-width {
  display: inline-block;
  width: $square-size-mobile;
  @media (min-width: 992px) {
    width: $square-size;
  }
}

%square-height {
  display: inline-block;
  height: $square-size-mobile;
  @media (min-width: 992px) {
    height: $square-size;
  }
}

// Margins
$page-margin-small: 2rem;
$page-margin: 15%;

.-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: $yellow;
  }
}

body {
  @extend %font-normal;
  overflow-x: hidden;
  &.-no-scroll {
    position: fixed;
    overflow-y: scroll;
  }
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.-div-text {
  margin-left: $page-margin;
  @media (max-width: 992px) {
    margin-left: $page-margin/3;
  }

  h1 {
    font-size: 7vw;
    @media (max-width: 992px) {
      font-size: 10vw;
    }
    @extend %font-title;
    position: relative;

    &:after {
      content: "";
      bottom: -4%;
      left: 0;
      position: absolute;
      width: 10%;
      height: 8px;
      @media (max-width: 992px) {
        height: 4px;
        bottom: -15%;
      }
    }

    &.-p {
      &:after {
        background-color: $purple;
      }
    }

    &.-w {
      &:after {
        background-color: $white;
      }
    }
  }
  p {
    position: relative;

    font-size: 1.3rem;
    @media (max-width: 992px) {
      font-size: 1.1rem;
    }
    width: 60%;
    @media (max-width: 992px) {
      width: 70%;
    }
    margin-top: 4rem;
    // z-index: 10;
  }
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
