@use 'base';

#landing {
  background-color: $purple;
  color: $white;
  position: relative;
  height: 100vh;
  min-height: 800px;

  .-navbar {
    height: 8rem;
    width: 100%;
    padding: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .-brand {
      @extend %font-brand;
      font-size: 3rem;
      &:hover {
        color: $white;
      }
    }
    ul {
      //   padding-left: 0;
      display: inline-block;
      font-size: 1.5rem;
      vertical-align: middle;
      li {
        list-style: none;
        display: inline-block;
        margin: 0 3rem;
      }
    }
    .-nav-right {
      display: inline-block;
      font-size: 1.5rem;
      i {
        margin-left: 3rem;
      }
    }
    .-link {
      position: relative;
      background-color: $purple;
      transition: color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

      &:hover {
        &::after {
          width: 0%;
        }
        &::before {
          width: 0%;
        }
      }
      &::after {
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

        content: "";
        position: absolute;
        top: -30%;
        left: 0;
        width: 100%;
        height: 40%;
        background-color: $purple;
      }

      &::before {
        transition: all 0.3s ease;

        content: "";
        position: absolute;
        bottom: -30%;
        right: 0;
        width: 100%;
        height: 40%;
        background-color: $purple;
        z-index: 10;
      }
      .-link-decoration {
        position: absolute;
        width: 88%;
        height: 40%;
        left: 3%;

        // background-color: red;
      }
      .-link-decoration-1 {
        top: -30%;
        border-top: 0.4rem solid $yellow;
        border-left: 0.4rem solid $yellow;
        border-right: 0.4rem solid $yellow;
      }
      .-link-decoration-2 {
        bottom: -30%;
        border-bottom: 0.4rem solid $orange;
        border-left: 0.4rem solid $orange;
        border-right: 0.4rem solid $orange;
      }
    }
  }

  .-landing-text {
    margin-top: 6rem;
    z-index: 20;
    h1 {
      //   @extend %font-title;
      //   font-size: 7vw;
    }
    p {
      //   font-size: 1.3rem;
      //   width: 60%;
      //   margin-top: 2rem;
    }
  }
  .-decoration {
    .-yellow-bar {
      color: $purple;
      position: absolute;
      bottom: 0;
      right: 0;
      height: $bar-height;
      width: 80%;
      background-color: $yellow;
      div {
        height: 100%;
        display: inline-block;
        text-align: center;
        margin: 0 3rem;
        font-size: 1.5rem;
        padding-top: 2rem;
        i {
          font-size: 3rem;
          margin: 0 1rem;
        }
      }
    }
    .-orange-square {
      @extend %square;
      background-color: $orange;
      position: absolute;
      bottom: $bar-height;
      right: 0;
    }
    .-yellow-pillar {
      @extend %square-width;
      background-color: $yellow;
      position: absolute;
      bottom: calc(#{$bar-height} + #{$square-size});
      right: $square-size;
      height: 40%;
    }
    .-orange-bar {
      @extend %square-width;
      background-color: $orange;
      position: absolute;
      top: 93%;
      right: 80%;
      height: 40rem;
    }
    .-dots-yellow {
      position: absolute;
      width: 14vw;
      bottom: calc(#{$bar-height} + #{$square-size} - 9rem);

      right: calc(#{$square-size} - 8rem);
      span {
        background-color: $yellow;
      }
    }
    .-dots-orange {
      position: absolute;
      opacity: 0.2;
      width: 40vw;
      top: 9rem;
      left: 5rem;
      z-index: 0;
      span {
        background-color: $orange;
      }
    }
    .-learn {
      position: absolute;
      width: $square-size;
      text-align: center;
      bottom: $square-size/2;
      right: 80%;
      font-size: 1.5rem;
      @extend %font-normal-medium;
      a {
        i {
          animation: arrow-animation 5s infinite ease-in-out;
        }
      }
    }
  }
}

#tradition {
  color: $purple;
  position: relative;
  .-div-tradition {
    .-div-text {
      padding: 17rem 0;
    }
  }
  .-div-decoration {
    .-est {
      position: absolute;
      right: 10%;
      top: -9vw;
      @extend %font-title;
      line-height: 8vw;
      span:first-child {
        font-size: 3vw;
        vertical-align: bottom;
        margin-left: 1rem;
      }
      span:last-child {
        font-size: 14vw;
        vertical-align: top;
      }
    }
    .-dots-orange {
      position: absolute;
      right: 12%;
      top: 2vw;
      width: 20vw;
      span {
        background-color: $orange;
      }
    }

    .-square-orange {
      @extend %square;
      background-color: $orange;
      position: absolute;
      bottom: $square-size;
      right: 0;
    }

    .-yellow-pillar {
      @extend %square-width;
      background-color: $yellow;
      position: absolute;
      top: calc(100% - #{$square-size});

      right: $square-size;
      height: 30rem;
    }
  }
}

#future {
  background-color: $purple;
  color: $white;
  position: relative;
  img {
    width: 100%;
    position: absolute;
  }
  .-div-text {
    padding-top: 55%;
    padding-bottom: 30rem;
  }

  .-div-decorations {
    .-yellow-pillar {
      position: absolute;
      @extend %square-width;
      top: -$square-size;
      right: $square-size;
      height: 40rem;
      background-color: $yellow;
    }
    .-dots-orange {
      position: absolute;
      width: 40%;
      right: 0;
      top: 3rem;
      opacity: 0.3;
      span {
        background-color: $orange;
      }
    }
    .-square-orange {
      position: absolute;
      @extend %square;
      bottom: $bar-height;
      right: 0;
      background-color: $orange;
    }
    .-yellow-bar {
      position: absolute;
      height: $bar-height;
      bottom: 0;
      left: 0;
      width: calc(100% - #{$square-size});
      background-color: $yellow;
      color: $purple;
      display: flex;
      justify-content: space-around;
      div {
        text-align: center;
        font-size: 1.5rem;
        @extend %font-normal-medium;
        padding-top: 1.4rem;
        i {
          font-size: 4rem;
        }
      }
    }

    .-dots-yellow {
      position: absolute;
      bottom: $bar-height + 5rem;
      right: 0;
      width: 25%;
      span {
        background-color: $yellow;
      }
    }
  }
}

#video {
  background-color: $purple;
  color: $purple;
  position: relative;
  .-div-video {
    padding: 17rem 0;
  }
  .-div-video-card {
    width: 30%;
    background-color: $white;
    display: flex;
    margin: auto;
    position: relative;
    img {
      width: 65%;
      margin: 0.4rem;
    }
    div {
      text-align: center;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @extend %font-normal-medium;
    }
  }

  .-div-decorations {
    .-dots-orange {
      position: absolute;
      right: 15rem;
      bottom: 10rem;
      width: 40%;
      span {
        background-color: $orange;
      }
    }
    .-square-orange {
      position: absolute;
      @extend %square;
      background-color: $orange;
      left: 0;
      bottom: $square-size;
    }
  }
}

#sourcing {
  background-color: $white;
  color: $purple;
  position: relative;
  padding-bottom: 17rem;

  .-div-decorations {
    .-yellow-pillar {
      position: absolute;
      top: -$square-size;
      left: $square-size;
      @extend %square-width;
      height: 45rem;
      background-color: $yellow;
    }
  }
  .-div-text {
    padding: 17rem 0;
  }

  .row {
    .col-12 {
      margin-bottom: 4rem;
      position: relative;
      .-dots-purple {
        position: absolute;
        top: -7rem;
        right: 0;
        width: 50%;
        span {
          background-color: $purple;
        }
      }
    }
    .-card {
      background-color: $yellow;
      margin: 0 3vw;
      height: 100%;
      padding: 7rem 0;
      p {
        width: 60%;
        margin: auto;
        text-align: center;
      }
      p:first-child {
        font-size: 1.7rem;
        @extend %font-normal-bold;
        margin-bottom: 3rem;
      }
      p:last-child {
        font-size: 1.5rem;
      }
    }
  }
}

#newsletter {
  position: relative;
  padding-bottom: 17rem;
  background-color: $white;
  .-div-newsletter {
    .-div-text {
      margin-right: $square-size;
      margin-left: 0;
      margin-bottom: 2rem;
      // height: $square-size;
    }
    p {
      color: $purple;
      text-align: center;
      margin: auto;

      &:first-child {
        @extend %font-normal-bold;
        margin-bottom: 2rem;
      }
      &:last-child {
        width: 30%;
      }
    }
    .-purple-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $bar-height;
      color: $white;
      background-color: $purple;
      width: calc(100% - #{$square-size});
      // display: inline-block;
      position: relative;
      // float: right;
      .-square-orange {
        position: absolute;
        @extend %square;
        bottom: 100%;
        left: 100%;
        background-color: $orange;
      }

      .-dots-orange {
        position: absolute;
        width: 30%;
        top: 75%;
        left: 80%;
        span {
          background-color: $orange;
        }
      }
    }
  }

  form {
    width: auto;
    label {
      display: block;
      @extend %font-normal-medium;
      color: $white;
    }
    input {
      width: 30rem;
      height: 3rem;
      outline: none;
      border: none;
      background-color: $white;
    }
    button {
      height: 3rem;
      width: 8rem;
      outline: none;
      border: none;
      margin-left: 2rem;
      background-color: $yellow;
      color: $purple;
      @extend %font-normal-medium;
    }
  }
}

footer {
  background-color: $purple;
  color: $white;
  .-div-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 10vw;

    div {
      margin-bottom: 4rem;
      font-size: 1.3rem;
      flex: 25%;
      @media (max-width: 992px) {
        flex: 50%;
      }
      .-brand {
        @extend %font-brand;
        font-size: 4rem;
      }
      p.-t {
        @extend %font-normal-bold;
      }
      a {
        margin-top: 1rem;
      }
    }
  }
  .-socials {
    p {
      margin-bottom: 0rem;
      text-align: center;
      font-size: 2rem;
      i {
        margin: 0 2rem;
      }
    }
  }
  .-personal {
    p {
      margin-bottom: 0;
      margin-top: 5rem;
      padding-bottom: 3rem;
      text-align: center;
      i {
        color: $yellow;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

@keyframes arrow-animation {
  0% {
    transform: translateY(0);
  }

  7% {
    transform: translateY(15px);
  }

  20% {
    transform: translateY(0px);
  }
}
